{% extends 'layouts/base.html.twig' %}

{% block title %}Добро пожаловать {% endblock %}

{% block body %}

<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-success" role="alert">
            <h1>Добро пожаловать </h1>
            <p><b>Id:</b> {{ app.user.id }}</p>
            <p><b>Email:</b> {{ app.user.email }}</p>
            <p><b>Passport:</b> {{ app.user.passport }}</p><br>
        </div>
    </div>
</div>
{% endblock %}

