{% extends 'layouts/base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Добро пожаловать</h1>
        <p>Сайт онлайн бронирования</p>
    </div>
{% endblock %}

