body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}
.input-group {
    margin-bottom: 10px;
}
.footer {
    margin: 25px 0;
    border-top: 1px solid #e5e5e5;
    padding: 16px;
}
.block-ulogin-social {
    list-style: none;
    padding: 0;
}
.block-ulogin-social li {
    margin: 12px 0;
}
.icon-soc {
    width: 32px;
    height: 33px;
    display: inline-block;
}

.icon-vkontakte{
    background: url(/assets/img/providers-32-classic.png);
    background-position: 0 815px;
}
.icon-facebook{
    background: url(/assets/img/providers-32-classic.png);
    background-position: 0 713px;
}
.icon-google{
    background: url(/assets/img/providers-32-classic.png);
    background-position: 0 645px;
}

.block-ulogin-social li .soc-bind-button {
    display: inline-block;
    padding: 2px 80px;
    vertical-align: top;
    font-size: 15px;
    border: 1px solid #bababa;
    background: #4CAF50;
    color: white;
    border-radius: 20px;
    margin: 4px 0 0 22px;
    cursor: pointer;
}

.block-ulogin-social li .soc-bind-button:hover {
    background: #96cf98;
}