{% extends 'layouts/base.html.twig' %}

{% block title %}Авторизация{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">Вход</div>
                        <div class="panel-body">
                            {{ form_start(form) }}
                            {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Ошибка:</span>
                                    {{ error }}
                                </div>
                            {% endif %}
                            {{ form_errors(form) }}
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </span>
                                {{ form_widget(form.email, {
                                    'attr' : {
                                        'class' : 'form-control',
                                        'placeholder' : 'E-mail'
                                    }
                                }) }}
                            </div>
                            <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">
                                <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span>
                            </span>

                                {{ form_widget(form.password, {
                                    'attr' : {
                                        'class' : 'form-control',
                                        'placeholder' : 'Пароль'
                                    }
                                }) }}
                            </div>
                            <div class="input-group">
                                {{ form_widget(form.login, {
                                    'label' : 'Вход',
                                    'attr': {'class' : 'form-control'}
                                }) }}
                            </div>

                            {{ form_end(form) }}
                            {{ include('components/widjets/social_auth_back.html.twig') }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

