<h4>Привязать профиль к соцсетям!</h4>
<script src="//ulogin.ru/js/ulogin.js"></script>
<div id="uLogin" data-ulogin="display=buttons;fields=first_name,email,last_name;providers=vkontakte,google,facebook;redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Faccount/;mobilebuttons=0;">
    <ul class="block-ulogin-social">
        <li>
            <div class="icon-soc icon-vkontakte"></div>
            {% if app.user.vkId %}
                <span class="soc-bind-button" style="background: #cf1e11" data-uloginbutton = "vkontakte">Отвязать</span>
            {% else %}
                <span class="soc-bind-button" data-uloginbutton = "vkontakte">Привязать</span>
            {% endif %}
        </li>
        <li>
            <div class="icon-soc icon-facebook"></div>
            {% if app.user.faceBookId %}
                <span class="soc-bind-button" style="background: #cf1e11" data-uloginbutton = "facebook">Отвязать</span>
            {% else %}
                <span class="soc-bind-button" data-uloginbutton = "facebook">Привязать</span>
            {% endif %}

        </li>
        <li>
            <div class="icon-soc icon-google"></div>
            {% if app.user.googleId %}
                <span class="soc-bind-button" style="background: #cf1e11" data-uloginbutton = "google">Отвязать</span>
            {% else %}
                <span class="soc-bind-button" data-uloginbutton = "google">Привязать</span>
            {% endif %}

        </li>
    </ul>
</div>